<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.cdut.jiemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".personalDocument">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".hhhhhhhhhhh" />
        <activity android:name=".documentEditer">

        </activity>
        <activity android:name=".securitySetting" />
        <activity android:name=".accountManage" />
        <activity android:name=".add" />
        <activity android:name=".MainActivity" />
        <activity android:name=".mine" />
    </application>

</manifest>