<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.edu.cdut.jiemo">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:name=".myApplication.myApplication"
        android:allowBackup="true"
        android:fitsSystemWindows="true"
        android:icon="@drawable/bee"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.cameraalbumtest.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <activity android:name=".login">

        </activity>

        <activity android:name=".securityPwd"></activity>
        <activity android:name=".login"></activity>
        <activity android:name=".register" />
        <activity android:name=".schedule.addplan" />
        <activity android:name=".schedule.editplan" />
        <activity android:name=".schedule.calender"></activity>
        <activity android:name=".diary.Top2View" />
        <activity
            android:name=".diary.diaryWrite"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".mine.mine" />
        <activity android:name=".mine.personalDocument" />
        <activity android:name=".mine.documentEditer" />
        <activity android:name=".mine.securitySetting" />
        <activity android:name=".mine.inputSecuritypwd" />
        <activity android:name=".mine.securityPwd" />
        <activity android:name=".mine.accountManage" />
        <activity android:name=".mine.changeTheme" />
        <activity android:name=".mine.changeUserImage" />
        <activity android:name=".add" />
        <activity android:name=".mine.aboutUs" />
        <activity android:name=".welcome" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">

        </activity>
    </application>

</manifest>